.styled-p {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
  
.chart-box {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}


.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.date-picker {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
