.chart-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  padding: 30px;
  margin: 40px;
  max-width: 1000px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.date-picker {
  display: flex;
  align-items: center;
}

.date-picker span {
  margin: 0 10px;
}

.styled-p {
  margin-top: 20px;
  font-size: 1rem;
  color: #666;
  text-align: center;
}