.listItemss:hover {
    background-color: aliceblue;

}
.listItemss:hover {
    background-color: aliceblue;
}

/*for mobile */
@media (max-width: 600px) {
    .listItemss {
        display: flex;
        justify-content: space-between;
    }

    .MuiButton-root {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}
